
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

@media only screen and (min-width: 1280px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ddd!important;
    }

    #root {
        background: white;
        width: 400px;
        height: 700px;
        overflow: auto;
        position: relative;
    }
}

main {
    height: 100%;
    font-family: Lato;
    position: relative;
    background:transparent;

    .content {
        height: 100%;
        overflow-y: auto;
        z-index:10;
        overflow-x: hidden;
    }
}

.page-title {
    text-align: center;
    position: relative;
    // padding: 0 16px;
    margin-bottom: 32px;

    .start-icon {
        z-index: 10;
        position: absolute;
        top: 0;
        left:0;
        text-align: center;
    }

    .close-icon {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
    }
}

main .bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    transition: all .4s;
    background: linear-gradient(10deg, #d5d5d5, #fff);

    &.white {
        opacity: 1;
        z-index: 0;
    }
    
    &.purple {
        z-index: 1;
        background: linear-gradient(10deg, #1C1565, #312B73);
    }

    &.yellow {
        z-index: 1;
        background: linear-gradient(10deg, #ffd400, #ffe048);
    }

    &.green {
        z-index: 1;
        background: linear-gradient(10deg, #519747, #3BCC44);
    }
}

main.purple {
    color: white;
    .bg.purple {
        opacity: 1;
    }
}
main.yellow {
    color: #1C1565;
    .bg.yellow {
        opacity: 1;
    }
}

main.green {
    color: white;
    .bg.green {
        opacity: 1;
    }
}

.section {
    border-bottom: 1px solid #aaa;
    padding: 24px;
}

.section.spec{ 
    display: flex;
    align-items: center;
    .icon {
        width: 20%;
        margin-right: 16px;
    }
}

.section:last-child {
    border-bottom: 0;
}

.section p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.4em;

    &.small {
        font-size: .8em;
    }
}

.primary {
    font-weight: 700;
    color: #2E3192;
    &.gray {
        color: #000;
    }
}

.section.details  p {
    font-size: .9em;
    line-height: 1.4em;

    span {
        color: #2E3192
    }

}

.button-area {
    text-align:right;
    margin-top: 16px;
}

.show-all {
    margin-top: 16px;
    text-align: center;
    display: block;
}

.menu-item {
    margin-bottom: 8px;
}

.invisible-link {
    color: inherit;
    text-decoration: inherit;
}

.empty-message {
    color: #999;
    text-align: center;
}

.subheader {
    text-align: center;
    font-weight: 700;
    padding: 32px 0;
}

.badge {
    margin: 0 32px;
    .top {
        background: #2E3192;
        // background: #ffd400;
        margin-bottom: 32px;
        display: flex;
        align-items: center;

        img {
            width: 40%;
            margin: 16px auto -16px auto;
        }
    }

    .name {
        font-size: 1.6em;
        text-align: center;
        color: #2E3192;
        font-weight: 700;
    }

    .qr {
        padding: 16px 48px;
    }
}

.full-height {
    height: 100%;
}
.container {
    padding: 16px;
}

.home-menu {    

    & .row      {
        display: flex;
        margin-bottom: 16px;
    }
    
    .purple {
        padding: 16px;
        background: #1C1565;
        color: white;
        display: flex;
        align-items: center;

        &:first-child {
            margin-right: 16px;
        }

        img {
            height: 60px;
            margin-right: 16px;
        }
    }
    
    .white {
        margin-bottom: 16px;
        padding: 16px;
        display: block;

        width: 100%;
        flex: 0;
        background: white;
        color: black;
        text-align: center;

    }

    .title {
        font-size: 1em;
        font-weight: bold;
        display: block;
    }

    .shield-with-number {
        width: 30px;
        position: relative;
        margin: 0 auto;
        span {
            position: absolute;
            top: 50%;
            margin-top:-.75em;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 1;
            line-height: 100%;
            font-weight: 700; 
            color :white;
        }
    }
}

.enter-item {
    opacity : 0;
    transform: scale(0.95);
    transition: all 500ms;
}

.delay-1 {
    transition-delay: 100ms;
}
.delay-2 {
    transition-delay: 200ms;
}
.delay-3 {
    transition-delay: 300ms;
}
.delay-4 {
    transition-delay: 400ms;
}
.delay-5 {
    transition-delay: 500ms;
}
.delay-6 {
    transition-delay: 600ms;
}
.delay-7 {
    transition-delay: 700ms;
}
.delay-8 {
    transition-delay: 800ms;
}
.delay-9 {
    transition-delay: 900ms;
}

.items-appear-active,
.items-enter-done,
.items-appear-done {
    .enter-item {
    opacity: 1;
    transform: scale(1);
    }
}

@keyframes animex {
    0% {transform: scaleX(0);}
    50% {transform: scaleX(1);}
    100% {transform: scaleX(0);}
}

.wiggle {
    animation-name: animex;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo-only {
    .home-logo {
        height: 100%!important;
        background-size: 50%;
    }
    .home-menu,
    .bottom-tools {
        display: none;
    }
}


.cover {
    height: 100%;
    text-align: center;
    display: flex;   
    flex-direction: column;
    align-items: space-evenly;

    img {
        transition: all 200ms;
        opacity: 0;
        transform: scale(0.9);
    }

    &.items-appear-active img,
    &.items-enter-done img,
    &.items-appear-done img{
        transition: all 2000ms;
        transform: scale(1);
        opacity: 1;
    }
}
